.loginVC .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 475px) {
  .wrapper .loginContainer .loginTop hr {
    visibility: hidden;
  }
}

.wrapper .loginContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vw;
}

.wrapper .loginContainer .loginTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .loginContainer .loginTop hr {
  width: calc((100% - 220px)/2);
  border: 1px solid #707070;
}

.wrapper .loginContainer .loginTop .logo {
  width: 220px;
  height: 128px;
  margin-left: 49.5px;
  margin-right: 49.5px;
}

.wrapper .loginContainer .loginForm {
  margin-top: 7vw;
}

.wrapper .loginContainer .loginForm input {
  margin: 0 auto;
  font-size: 0.786rem;
  width: 20%;
  height: 2.5vw;
  min-width: 250px;
  min-height: 30px;
  max-width: 400px;
  max-height: 57px;
  padding: 0;
  padding-left: 22px;
  display: block;
  border-radius: 5px;
  border: solid 1px #e2e2e2;
  margin-bottom: 36px;
  color: #4d4d4d;
}

.wrapper .loginContainer .loginForm input::-webkit-input-placeholder {
  color: #e2e2e2;
  font-size: 0.786rem;
}

.wrapper .loginContainer .loginForm input:-ms-input-placeholder {
  color: #e2e2e2;
  font-size: 0.786rem;
}

.wrapper .loginContainer .loginForm input::-ms-input-placeholder {
  color: #e2e2e2;
  font-size: 0.786rem;
}

.wrapper .loginContainer .loginForm input::placeholder {
  color: #e2e2e2;
  font-size: 0.786rem;
}

.wrapper .loginContainer .loginForm input:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #4d4d4d;
}

.wrapper .loginContainer .loginForm button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 15%;
  height: 2vw;
  border-radius: 5px;
  border: solid 1px #4d4d4d;
  background-color: #ffffff;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  font-size: 0.8rem;
  min-width: 100px;
  min-height: 30px;
  max-width: 160px;
  max-height: 46px;
  cursor: pointer;
}

.wrapper .loginContainer .loginForm button:hover {
  background-color: #4d4d4d;
  border: none;
  color: white;
}

.wrapper .companyWrapper {
  font-family: 'Shadows Into Light', cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  color: #4d4d4d;
  z-index: 0;
}

.wrapper .companyWrapper .selectedCompany {
  font-size: 52px;
  position: absolute;
  top: 21px;
  left: 26px;
  cursor: pointer;
}

.wrapper .companyWrapper .client {
  cursor: default;
}

.wrapper .companyWrapper .companyMenu {
  width: 0px;
  height: 1000px;
  background: white;
  position: absolute;
  -webkit-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s;
  transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s;
  font-size: 52px;
  padding-top: 104px;
}

.wrapper .companyWrapper .companyMenu .companylist {
  position: relative;
  opacity: 0.7;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  left: -200px;
  cursor: pointer;
}

.wrapper .companyWrapper .companyMenu .companylist:hover {
  opacity: 1;
}

.wrapper .companyWrapper .companyMenuBackground {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  width: 100%;
  height: 1000px;
  background: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .companyactive {
  z-index: 11;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.wrapper .companyactive .selectedCompany {
  z-index: 20;
}

.wrapper .companyactive .companyMenu {
  width: 223px;
}

.wrapper .companyactive .companyMenu .companylist {
  left: 26px;
}

.wrapper .companyactive .companyMenu .companylist:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.wrapper .companyactive .companyMenu .companylist:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.wrapper .companyactive .companyMenuBackground {
  opacity: 0.6;
}

.wrapper .workflow-write-zone {
  width: 400px;
  height: 98.5%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0.5%;
  z-index: 90;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: 0 3px 6px #e2e2e2;
          box-shadow: 0 3px 6px #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.wrapper .workflow-write-zone .write-cell .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .workflow-write-zone .write-cell .title span {
  font-size: 16px;
  color: #4d4d4d;
}

.wrapper .workflow-write-zone .write-cell .content {
  margin-top: 4px;
}

.wrapper .workflow-write-zone .write-cell .content input {
  width: 100%;
  border: none;
  height: 24px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content input:focus {
  outline: none;
}

.wrapper .workflow-write-zone .write-cell .content input::-webkit-input-placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content input:-ms-input-placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content input::-ms-input-placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content input::placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content textarea {
  width: calc(100% - 8px);
  height: 100px;
  resize: none;
  border: 1px solid #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content textarea:focus {
  outline: none;
}

.wrapper .workflow-write-zone .write-cell .content textarea::-webkit-input-placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content textarea:-ms-input-placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content textarea::-ms-input-placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content textarea::placeholder {
  color: #e2e2e2;
}

.wrapper .workflow-write-zone .write-cell .content .chips {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -ms-grid-row: 50;
  grid-row: 50px;
}

.wrapper .workflow-write-zone .write-cell .content .chips .chip {
  width: 100%;
  height: 50px;
  background-color: #d3d3d3;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.wrapper .workflow-write-zone .write-cell .content .chips .chip:hover {
  -webkit-transform: scale(1.11);
          transform: scale(1.11);
}

.wrapper .workflow-write-zone .write-cell .content .chips .active {
  -webkit-transform: scale(1.11);
          transform: scale(1.11);
}

.wrapper .workflow-write-zone .companyListWrapper .item {
  border: 1px solid #e2e2e2;
  color: #222;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .workflow-write-zone .companyListWrapper .item:hover {
  border-color: #ff4800;
  color: #ff4800;
}

.wrapper .workflow-write-zone .companyListWrapper .active {
  border-color: #ff4800;
  color: #ff4800;
}

.wrapper .workflow-write-zone .submitbutton {
  width: 90%;
  display: block;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
  border: 1px solid #4d4d4d;
}

.wrapper .workflow-write-zone .submitbutton:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.wrapper .workflowNameSpace {
  width: 192px;
  top: 179px;
  position: fixed;
  background-color: #f3f3f3;
  opacity: 0.95;
  z-index: 9;
}

.wrapper .workflowNameSpace .workflow-line {
  width: 186px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .workflowNameSpace .workflow-line span {
  margin: 0 auto;
}

.wrapper .workflowNameSpace hr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: solid 1px #e2e2e2;
}

.wrapper .flow-top {
  position: fixed;
  top: 125px;
  left: calc(48px * 4);
  width: calc(48px * 365);
  height: 54px;
  background-color: #f5f5f5;
  z-index: 10;
  opacity: 0.95;
  border-bottom: 1px solid #e2e2e2;
}

.wrapper .flow-top .dateline {
  position: absolute;
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}

.wrapper .flow-top .dateline .cell {
  width: 48px;
  height: 100%;
  -webkit-border-start: solid 1px #e2e2e2;
          border-inline-start: solid 1px #e2e2e2;
  text-align: center;
  color: #4d4d4d;
}

.wrapper .flow-top .dateline .today {
  color: #ff4800;
}

.wrapper .workflow {
  -webkit-transform: translateX(calc(48px * 4));
          transform: translateX(calc(48px * 4));
  margin-top: 179px;
}

.wrapper .workflow .workflow-line {
  position: relative;
  width: 100%;
  height: 54px;
  background-color: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 0;
  border-bottom: 1px solid #e2e2e2;
}

.wrapper .workflow .workflow-line .flow {
  position: relative;
  top: 20px;
  height: 24px;
  border-radius: 4px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.wrapper .workflow .workflow-line .flow .flowTitle {
  color: #4d4d4d;
  position: absolute;
  top: -20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .workflow .workflow-line .flow:hover {
  opacity: 0.6;
}

.wrapper .workflow .workflow-line .dateline {
  position: absolute;
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}

.wrapper .workflow .workflow-line .dateline .cell {
  width: 48px;
  height: 100%;
  -webkit-border-start: solid 1px #e2e2e2;
          border-inline-start: solid 1px #e2e2e2;
  text-align: center;
  color: #4d4d4d;
}

.wrapper .modalWrapper {
  opacity: 0;
  width: 0;
  position: fixed;
  top: 10px;
  right: 0;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px #e2e2e2;
          box-shadow: 0 3px 6px #e2e2e2;
  padding: 20px;
  z-index: 999;
  background-color: white;
}

.wrapper .modalWrapper .modalLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 10px 10px 0 0;
  background-color: #222;
}

.wrapper .modalWrapper .modalContent {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  color: #4d4d4d;
}

.wrapper .modalWrapper .modalContent .title {
  font-size: 24px;
}

.wrapper .modalWrapper .modalContent .subtitle {
  font-size: 16px;
}

.wrapper .modalWrapper .modalContent .hr {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e2e2e2;
}

.wrapper .modalactive {
  width: 400px;
  right: 10px;
  opacity: 1;
}

.wrapper .killzidx {
  z-index: 0;
}
/*# sourceMappingURL=index.css.map */